<a href="https://cognitiveclass.ai"><img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width = 400> </a>

<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

## Introduction

As we discussed in the videos, despite the popularity of more powerful libraries such as PyToch and TensorFlow, they are not easy to use and have a steep learning curve. So, for people who are just starting to learn deep learning, there is no better library to use other than the Keras library. 

Keras is a high-level API for building deep learning models. It has gained favor for its ease of use and syntactic simplicity facilitating fast development. As you will see in this lab and the other labs in this course, building a very complex deep learning network can be achieved with Keras with only few lines of code. You will appreciate Keras even more, once you learn how to build deep models using PyTorch and TensorFlow in the other courses.

So, in this lab, you will learn how to use the Keras library to build a regression model.

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [9]:
concrete_data_columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [8]:
concrete_data_columns!='Strength'

array([ True,  True,  True,  True,  True,  True,  True,  True, False])

In [12]:
concrete_data_columns[[True]]

IndexError: boolean index did not match indexed array along dimension 0; dimension is 9 but corresponding boolean dimension is 1

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [13]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [14]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [15]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [16]:
n_cols = predictors_norm.shape[1] # number of predictors

In [19]:
n_cols

8

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [17]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [18]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [20]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [21]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [22]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 1s - loss: 1637.2404 - val_loss: 1143.5952
Epoch 2/100
 - 0s - loss: 1495.2522 - val_loss: 1018.0353
Epoch 3/100
 - 0s - loss: 1266.9157 - val_loss: 822.6129
Epoch 4/100
 - 0s - loss: 939.0568 - val_loss: 573.7567
Epoch 5/100
 - 0s - loss: 573.9515 - val_loss: 348.2960
Epoch 6/100
 - 0s - loss: 323.0325 - val_loss: 222.7910
Epoch 7/100
 - 0s - loss: 237.3606 - val_loss: 186.1528
Epoch 8/100
 - 0s - loss: 215.3124 - val_loss: 180.5637
Epoch 9/100
 - 0s - loss: 203.5018 - val_loss: 173.5953
Epoch 10/100
 - 0s - loss: 194.2803 - val_loss: 173.3927
Epoch 11/100
 - 0s - loss: 187.2795 - val_loss: 172.6988
Epoch 12/100
 - 0s - loss: 180.7952 - val_loss: 169.3526
Epoch 13/100
 - 0s - loss: 175.6835 - val_loss: 167.1479
Epoch 14/100
 - 0s - loss: 170.7183 - val_loss: 167.4790
Epoch 15/100
 - 0s - loss: 166.8505 - val_loss: 168.1451
Epoch 16/100
 - 0s - loss: 163.3587 - val_loss: 164.7096
Epoch 17/100
 - 0s - loss: 159.8441 - val_loss: 164.5702
Epoch 18/100
 - 0s - loss: 156.8636 - val_loss: 163.6222
Epoch 19/100
 - 0s - loss: 154.2799 - val_loss: 161.6834
Epoch 20/100
 - 0s - loss: 151.4782 - val_loss: 163.0990
Epoch 21/100
 - 0s - loss: 149.0812 - val_loss: 163.8462
Epoch 22/100
 - 0s - loss: 146.8033 - val_loss: 164.8120
Epoch 23/100
 - 0s - loss: 144.5102 - val_loss: 164.3180
Epoch 24/100
 - 0s - loss: 142.7991 - val_loss: 162.0735
Epoch 25/100
 - 0s - loss: 141.5414 - val_loss: 166.1951
Epoch 26/100
 - 0s - loss: 139.9465 - val_loss: 165.3508
Epoch 27/100
 - 0s - loss: 138.4635 - val_loss: 166.9667
Epoch 28/100
 - 0s - loss: 137.1762 - val_loss: 166.0180
Epoch 29/100
 - 0s - loss: 135.4988 - val_loss: 165.9351
Epoch 30/100
 - 0s - loss: 134.6502 - val_loss: 169.7385
Epoch 31/100
 - 0s - loss: 133.0969 - val_loss: 164.6732
Epoch 32/100
 - 0s - loss: 132.0385 - val_loss: 167.4664
Epoch 33/100
 - 0s - loss: 130.7957 - val_loss: 170.0186
Epoch 34/100
 - 0s - loss: 130.0018 - val_loss: 171.3512
Epoch 35/100
 - 0s - loss: 128.3873 - val_loss: 167.7530
Epoch 36/100
 - 0s - loss: 127.8037 - val_loss: 167.2571
Epoch 37/100
 - 0s - loss: 126.5718 - val_loss: 169.8805
Epoch 38/100
 - 0s - loss: 125.9203 - val_loss: 169.5962
Epoch 39/100
 - 0s - loss: 124.4675 - val_loss: 168.9763
Epoch 40/100
 - 0s - loss: 123.6193 - val_loss: 171.3265
Epoch 41/100
 - 0s - loss: 122.5140 - val_loss: 169.4359
Epoch 42/100
 - 0s - loss: 122.4210 - val_loss: 166.6757
Epoch 43/100
 - 0s - loss: 120.7399 - val_loss: 170.2589
Epoch 44/100
 - 0s - loss: 119.9180 - val_loss: 169.2855
Epoch 45/100
 - 0s - loss: 118.4712 - val_loss: 168.5143
Epoch 46/100
 - 0s - loss: 117.4567 - val_loss: 168.9537
Epoch 47/100
 - 0s - loss: 116.8638 - val_loss: 169.5864
Epoch 48/100
 - 0s - loss: 115.7492 - val_loss: 170.6317
Epoch 49/100
 - 0s - loss: 114.1021 - val_loss: 167.1571
Epoch 50/100
 - 0s - loss: 112.9991 - val_loss: 168.9084
Epoch 51/100
 - 0s - loss: 111.6959 - val_loss: 167.4897
Epoch 52/100
 - 0s - loss: 110.0125 - val_loss: 166.3420
Epoch 53/100
 - 0s - loss: 108.8430 - val_loss: 168.3605
Epoch 54/100
 - 0s - loss: 107.5114 - val_loss: 165.0045
Epoch 55/100
 - 0s - loss: 105.5279 - val_loss: 164.4023
Epoch 56/100
 - 0s - loss: 103.8591 - val_loss: 164.0423
Epoch 57/100
 - 0s - loss: 102.0449 - val_loss: 165.1639
Epoch 58/100
 - 0s - loss: 101.0692 - val_loss: 162.2989
Epoch 59/100
 - 0s - loss: 98.6806 - val_loss: 161.4704
Epoch 60/100
 - 0s - loss: 96.1114 - val_loss: 157.7613
Epoch 61/100
 - 0s - loss: 93.9525 - val_loss: 158.9182
Epoch 62/100
 - 0s - loss: 92.6205 - val_loss: 165.4255
Epoch 63/100
 - 0s - loss: 90.5330 - val_loss: 153.1774
Epoch 64/100
 - 0s - loss: 86.7876 - val_loss: 160.1594
Epoch 65/100
 - 0s - loss: 84.9115 - val_loss: 151.4345
Epoch 66/100
 - 0s - loss: 82.6099 - val_loss: 147.4566
Epoch 67/100
 - 0s - loss: 80.1291 - val_loss: 149.7078
Epoch 68/100
 - 0s - loss: 77.7413 - val_loss: 145.5672
Epoch 69/100
 - 0s - loss: 75.6105 - val_loss: 140.1660
Epoch 70/100
 - 0s - loss: 73.2200 - val_loss: 136.7556
Epoch 71/100
 - 0s - loss: 70.9372 - val_loss: 139.1670
Epoch 72/100
 - 0s - loss: 68.2989 - val_loss: 133.2541
Epoch 73/100
 - 0s - loss: 65.9851 - val_loss: 140.1364
Epoch 74/100
 - 0s - loss: 63.9792 - val_loss: 129.9612
Epoch 75/100
 - 0s - loss: 61.9779 - val_loss: 130.0081
Epoch 76/100
 - 0s - loss: 59.9132 - val_loss: 127.5312
Epoch 77/100
 - 0s - loss: 58.6468 - val_loss: 127.1704
Epoch 78/100
 - 0s - loss: 56.3982 - val_loss: 125.4883
Epoch 79/100
 - 0s - loss: 55.4822 - val_loss: 125.8522
Epoch 80/100
 - 0s - loss: 54.7594 - val_loss: 133.8888
Epoch 81/100
 - 0s - loss: 52.9192 - val_loss: 117.0883
Epoch 82/100
 - 0s - loss: 51.5070 - val_loss: 129.7022
Epoch 83/100
 - 0s - loss: 50.3080 - val_loss: 115.2940
Epoch 84/100
 - 0s - loss: 49.4437 - val_loss: 121.6264
Epoch 85/100
 - 0s - loss: 47.8139 - val_loss: 118.9251
Epoch 86/100
 - 0s - loss: 47.1781 - val_loss: 116.2610
Epoch 87/100
 - 0s - loss: 46.4566 - val_loss: 127.6365
Epoch 88/100
 - 0s - loss: 45.8792 - val_loss: 117.6778
Epoch 89/100
 - 0s - loss: 44.5468 - val_loss: 118.2210
Epoch 90/100
 - 0s - loss: 43.3453 - val_loss: 120.1846
Epoch 91/100
 - 0s - loss: 43.3756 - val_loss: 124.1598
Epoch 92/100
 - 0s - loss: 42.7849 - val_loss: 113.6250
Epoch 93/100
 - 0s - loss: 41.3938 - val_loss: 121.1219
Epoch 94/100
 - 0s - loss: 40.7501 - val_loss: 118.4389
Epoch 95/100
 - 0s - loss: 40.1387 - val_loss: 118.3334
Epoch 96/100
 - 0s - loss: 39.4963 - val_loss: 123.1928
Epoch 97/100
 - 0s - loss: 38.9294 - val_loss: 123.8300
Epoch 98/100
 - 0s - loss: 38.8670 - val_loss: 119.7388
Epoch 99/100
 - 0s - loss: 37.7486 - val_loss: 124.2382
Epoch 100/100
 - 0s - loss: 37.5681 - val_loss: 120.9409

In [23]:
model.evaluate(predictors_norm, target, verbose=1)

1030/1030 [==============================] - 0s 90us/step

61.85975248466418

<strong>You can refer to this [link](https://keras.io/models/sequential/) to learn about other functions that you can use for prediction or evaluation.</strong>

Feel free to vary the following and note what impact each change has on the model's performance:

1. Increase or decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs

### Thank you for completing this lab!

This notebook was created by [Alex Aklson](https://www.linkedin.com/in/aklson/). I hope you found this lab interesting and educational. Feel free to contact me if you have any questions!

This notebook is part of a course on **Coursera** called *Introduction to Deep Learning & Neural Networks with Keras*. If you accessed this notebook outside the course, you can take this course online by clicking [here](https://cocl.us/DL0101EN_Coursera_Week3_LAB1).

<hr>

Copyright &copy; 2019 [IBM Developer Skills Network](https://cognitiveclass.ai/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).