### part A: **Build a baseline model**

importing numpy and pandas libraries

In [1]:
import numpy as np
import pandas as pd

Let's read the data into a pandas dataframe.

In [2]:
data = pd.read_csv('concrete_data.csv')
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

##### split data into training and test sets

In [3]:
data_columns = data.columns

predictors = data[data_columns[data_columns != 'Strength']] # all columns except Strength
target = data['Strength'] # only Strength column

In [4]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [5]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.30, random_state=42)

In [7]:
n_cols = predictors.shape[1] # number of predictors
print(n_cols)

8

### Building a Regression Model

importing keras library

In [8]:
import keras

Using TensorFlow backend.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [9]:
from keras.models import Sequential
from keras.layers import Dense

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [10]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error') # adam optimizer 
    return model

### Train and Evaluate the Network

In [11]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the fit method. We will leave out 30% of the data for validation and we will train the model for 50 epochs.

In [12]:
# fit the model
model.fit(predictors, target, validation_split=0.3, epochs=50, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/50
 - 0s - loss: 13795.2434 - val_loss: 9676.8000
Epoch 2/50
 - 0s - loss: 5170.4318 - val_loss: 7715.2289
Epoch 3/50
 - 0s - loss: 4681.2597 - val_loss: 7376.8979
Epoch 4/50
 - 0s - loss: 4406.4818 - val_loss: 6987.5006
Epoch 5/50
 - 0s - loss: 4154.2408 - val_loss: 6563.5857
Epoch 6/50
 - 0s - loss: 3923.3313 - val_loss: 6128.3593
Epoch 7/50
 - 0s - loss: 3701.9551 - val_loss: 5771.1440
Epoch 8/50
 - 0s - loss: 3500.8530 - val_loss: 5373.9006
Epoch 9/50
 - 0s - loss: 3285.1456 - val_loss: 5004.9109
Epoch 10/50
 - 0s - loss: 3084.3723 - val_loss: 4630.3224
Epoch 11/50
 - 0s - loss: 2887.2430 - val_loss: 4275.6813
Epoch 12/50
 - 0s - loss: 2695.3895 - val_loss: 3955.8096
Epoch 13/50
 - 0s - loss: 2519.2506 - val_loss: 3608.4172
Epoch 14/50
 - 0s - loss: 2336.4174 - val_loss: 3320.7865
Epoch 15/50
 - 0s - loss: 2172.7401 - val_loss: 3036.7290
Epoch 16/50
 - 0s - loss: 2013.4987 - val_loss: 2741.2249
Epoch 17/50
 - 0s - loss: 1855.8852 - val_loss: 2520.5887
Epoch 18/50
 - 0s - loss: 1722.5421 - val_loss: 2316.7649
Epoch 19/50
 - 0s - loss: 1592.9257 - val_loss: 2119.7928
Epoch 20/50
 - 0s - loss: 1484.6363 - val_loss: 1958.8350
Epoch 21/50
 - 0s - loss: 1372.3875 - val_loss: 1781.5274
Epoch 22/50
 - 0s - loss: 1248.1452 - val_loss: 1621.9285
Epoch 23/50
 - 0s - loss: 1123.3699 - val_loss: 1478.5656
Epoch 24/50
 - 0s - loss: 1007.1039 - val_loss: 1336.2302
Epoch 25/50
 - 0s - loss: 919.8392 - val_loss: 1238.9679
Epoch 26/50
 - 0s - loss: 864.9820 - val_loss: 1160.4508
Epoch 27/50
 - 0s - loss: 820.8796 - val_loss: 1087.3423
Epoch 28/50
 - 0s - loss: 781.6814 - val_loss: 1019.8489
Epoch 29/50
 - 0s - loss: 745.0775 - val_loss: 962.1457
Epoch 30/50
 - 0s - loss: 712.3464 - val_loss: 914.3136
Epoch 31/50
 - 0s - loss: 680.5581 - val_loss: 870.3835
Epoch 32/50
 - 0s - loss: 652.8060 - val_loss: 825.5968
Epoch 33/50
 - 0s - loss: 625.6010 - val_loss: 784.5371
Epoch 34/50
 - 0s - loss: 601.7838 - val_loss: 750.0987
Epoch 35/50
 - 0s - loss: 580.1892 - val_loss: 717.1595
Epoch 36/50
 - 0s - loss: 560.3507 - val_loss: 682.3450
Epoch 37/50
 - 0s - loss: 542.9550 - val_loss: 656.3458
Epoch 38/50
 - 0s - loss: 526.6254 - val_loss: 634.1517
Epoch 39/50
 - 0s - loss: 511.0599 - val_loss: 612.8268
Epoch 40/50
 - 0s - loss: 497.4299 - val_loss: 588.2027
Epoch 41/50
 - 0s - loss: 483.7515 - val_loss: 577.5048
Epoch 42/50
 - 0s - loss: 470.9060 - val_loss: 550.6177
Epoch 43/50
 - 0s - loss: 459.4713 - val_loss: 534.8612
Epoch 44/50
 - 0s - loss: 447.4224 - val_loss: 515.9122
Epoch 45/50
 - 0s - loss: 436.1188 - val_loss: 504.4251
Epoch 46/50
 - 0s - loss: 426.0621 - val_loss: 490.5880
Epoch 47/50
 - 0s - loss: 414.9052 - val_loss: 469.7837
Epoch 48/50
 - 0s - loss: 405.2309 - val_loss: 457.1758
Epoch 49/50
 - 0s - loss: 394.8911 - val_loss: 444.8033
Epoch 50/50
 - 0s - loss: 385.7035 - val_loss: 430.9795

In [13]:
model.evaluate(X_test,y_test, verbose=1)

309/309 [==============================] - 0s 56us/step

383.1999774426704

   Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

   Let's import the mean_squared_error function from Scikit-learn.

In [14]:
from sklearn.metrics import mean_squared_error

In [15]:
y_pred = model.predict(X_test)

In [16]:
y_pred

array([[57.917442 ],
       [50.090668 ],
       [57.296593 ],
       [49.627205 ],
       [61.573402 ],
       [51.68225  ],
       [41.048195 ],
       [61.348915 ],
       [49.314583 ],
       [51.143333 ],
       [39.766747 ],
       [13.405937 ],
       [40.173492 ],
       [34.57502  ],
       [28.165886 ],
       [29.457558 ],
       [40.62139  ],
       [19.454712 ],
       [28.589165 ],
       [23.103767 ],
       [25.582916 ],
       [51.373344 ],
       [55.705406 ],
       [17.634804 ],
       [29.066414 ],
       [52.09037  ],
       [17.052635 ],
       [25.526833 ],
       [31.48954  ],
       [32.31048  ],
       [ 9.39048  ],
       [43.95951  ],
       [24.6436   ],
       [34.727074 ],
       [21.898201 ],
       [12.699135 ],
       [48.464188 ],
       [42.21615  ],
       [44.479942 ],
       [29.585625 ],
       [20.605698 ],
       [52.224915 ],
       [46.60746  ],
       [55.49897  ],
       [15.466438 ],
       [58.288834 ],
       [52.232193 ],
       [77.46515  ],
       [37.327217 ],
       [23.387405 ],
       [56.139114 ],
       [38.493782 ],
       [18.661476 ],
       [21.699211 ],
       [15.863968 ],
       [52.147835 ],
       [47.69242  ],
       [10.541176 ],
       [23.293617 ],
       [12.935616 ],
       [42.13549  ],
       [50.28447  ],
       [26.70565  ],
       [49.41175  ],
       [27.485085 ],
       [11.959984 ],
       [60.325417 ],
       [28.171135 ],
       [47.375824 ],
       [19.365517 ],
       [55.17726  ],
       [34.46646  ],
       [39.781364 ],
       [39.804657 ],
       [35.071175 ],
       [41.86596  ],
       [58.52378  ],
       [61.982094 ],
       [51.736298 ],
       [25.849236 ],
       [45.894394 ],
       [52.94145  ],
       [57.432945 ],
       [47.905838 ],
       [51.746643 ],
       [49.627205 ],
       [51.926613 ],
       [38.780075 ],
       [19.069572 ],
       [16.740974 ],
       [20.667412 ],
       [66.36132  ],
       [16.739906 ],
       [67.213    ],
       [31.853142 ],
       [45.697258 ],
       [19.719536 ],
       [23.809547 ],
       [36.31881  ],
       [45.60144  ],
       [21.63195  ],
       [35.586563 ],
       [28.79515  ],
       [20.565643 ],
       [55.551403 ],
       [ 9.381599 ],
       [35.254677 ],
       [23.956345 ],
       [23.147057 ],
       [53.338104 ],
       [66.75063  ],
       [56.42128  ],
       [10.265892 ],
       [55.17852  ],
       [50.28814  ],
       [43.1705   ],
       [31.377869 ],
       [60.28827  ],
       [30.874657 ],
       [31.87854  ],
       [23.149681 ],
       [49.861877 ],
       [26.38697  ],
       [37.055397 ],
       [ 6.359459 ],
       [23.936043 ],
       [ 3.7626417],
       [48.30177  ],
       [57.517174 ],
       [46.888435 ],
       [10.455437 ],
       [51.554817 ],
       [18.263878 ],
       [57.863884 ],
       [63.90998  ],
       [40.739174 ],
       [35.251152 ],
       [27.146431 ],
       [49.83783  ],
       [18.924065 ],
       [38.52912  ],
       [61.121353 ],
       [26.89135  ],
       [51.066994 ],
       [43.21218  ],
       [23.637901 ],
       [15.639626 ],
       [29.539368 ],
       [44.016457 ],
       [16.295479 ],
       [53.17697  ],
       [55.0969   ],
       [51.77108  ],
       [36.90696  ],
       [29.565681 ],
       [55.0906   ],
       [36.157158 ],
       [22.996704 ],
       [50.09066  ],
       [35.317528 ],
       [36.99044  ],
       [53.284233 ],
       [50.838936 ],
       [48.729057 ],
       [47.602768 ],
       [55.96566  ],
       [21.398842 ],
       [19.244102 ],
       [37.49295  ],
       [50.10972  ],
       [26.594048 ],
       [37.606667 ],
       [45.09562  ],
       [60.154343 ],
       [27.849808 ],
       [12.950356 ],
       [37.74035  ],
       [56.88391  ],
       [35.53743  ],
       [52.819122 ],
       [54.85195  ],
       [38.30201  ],
       [53.33982  ],
       [51.423035 ],
       [26.38459  ],
       [47.51632  ],
       [14.358467 ],
       [22.617714 ],
       [46.383743 ],
       [34.255142 ],
       [51.072083 ],
       [46.871605 ],
       [28.36625  ],
       [43.89293  ],
       [81.725586 ],
       [25.290016 ],
       [29.628899 ],
       [55.313957 ],
       [51.200317 ],
       [15.839149 ],
       [29.858665 ],
       [43.1705   ],
       [66.806694 ],
       [47.72547  ],
       [52.455635 ],
       [42.391    ],
       [28.152824 ],
       [49.517776 ],
       [23.69735  ],
       [60.22895  ],
       [18.326485 ],
       [18.374046 ],
       [10.298378 ],
       [27.403038 ],
       [34.66889  ],
       [65.67258  ],
       [30.115364 ],
       [24.110573 ],
       [32.188942 ],
       [52.52391  ],
       [43.52764  ],
       [62.079155 ],
       [52.721375 ],
       [11.908989 ],
       [25.46724  ],
       [25.198418 ],
       [27.015144 ],
       [15.319359 ],
       [18.401604 ],
       [10.846764 ],
       [41.764824 ],
       [17.831032 ],
       [25.794449 ],
       [57.4207   ],
       [35.421425 ],
       [56.029564 ],
       [52.242455 ],
       [12.539726 ],
       [33.03237  ],
       [17.795021 ],
       [11.023842 ],
       [19.02259  ],
       [27.933838 ],
       [19.462914 ],
       [64.09069  ],
       [37.502525 ],
       [57.458374 ],
       [65.060104 ],
       [48.12269  ],
       [56.86448  ],
       [38.35827  ],
       [23.142662 ],
       [50.74375  ],
       [20.049309 ],
       [22.86129  ],
       [45.567474 ],
       [31.309975 ],
       [19.964577 ],
       [15.927925 ],
       [22.148674 ],
       [47.815926 ],
       [46.42434  ],
       [15.383568 ],
       [50.65291  ],
       [44.02275  ],
       [63.346203 ],
       [22.244545 ],
       [11.657219 ],
       [12.120705 ],
       [43.013023 ],
       [46.41787  ],
       [15.907219 ],
       [24.73365  ],
       [35.2072   ],
       [81.45485  ],
       [47.602768 ],
       [34.11155  ],
       [49.193657 ],
       [50.98339  ],
       [36.067307 ],
       [44.924156 ],
       [36.148026 ],
       [64.37347  ],
       [24.143677 ],
       [45.125946 ],
       [49.564392 ],
       [26.053734 ],
       [29.033577 ],
       [61.74433  ],
       [49.614502 ],
       [21.223198 ],
       [21.262016 ],
       [46.27517  ],
       [ 1.0879134],
       [20.987694 ],
       [21.341698 ],
       [16.243736 ],
       [33.366585 ],
       [41.062828 ],
       [43.030876 ],
       [66.53976  ],
       [34.843643 ],
       [51.971504 ],
       [24.102509 ],
       [45.29731  ],
       [32.44491  ],
       [61.49511  ],
       [14.972969 ],
       [34.72515  ]], dtype=float32)

In [17]:
mse = mean_squared_error(y_test, y_pred)
mean = np.mean(mse)
standard_deviation = np.std(mse)
print('mse: ', mse)

mse:  383.1999822079114

Let's create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [19]:
n = 50
epochs = 50
mean_squared_errors = []
for i in range(0, n):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.30, random_state=42)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    mse = model.evaluate(X_test, y_test, verbose=0)
    print("mse " +str(i+1)+": ", mse)
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)
    
mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print("Mean : "+str(mean))
print("Standard Deviation : "+str(standard_deviation))

mse 1:  146.83918031365354
mse 2:  79.69963342857979
mse 3:  66.97847210782245
mse 4:  62.96653700646459
mse 5:  61.488126180704356
mse 6:  58.89988451713883
mse 7:  58.59510982229486
mse 8:  69.43359650300158
mse 9:  55.666722652595794
mse 10:  53.29456144166224
mse 11:  52.226677570528196
mse 12:  58.28093059008947
mse 13:  50.589997819326456
mse 14:  48.87046574466051
mse 15:  48.760212438392024
mse 16:  48.89734571882822
mse 17:  50.74771276183885
mse 18:  49.73261722700496
mse 19:  52.41838830497272
mse 20:  48.891177995305235
mse 21:  51.14467449249959
mse 22:  49.392465696365704
mse 23:  53.17185180318394
mse 24:  48.87644127657499
mse 25:  49.82361857096354
mse 26:  53.181613020912344
mse 27:  55.25504623956279
mse 28:  52.03930785046426
mse 29:  48.30930930819712
mse 30:  52.08312861124674
mse 31:  49.56491049362232
mse 32:  48.594852879595216
mse 33:  48.65456897772631
mse 34:  50.22946948449589
mse 35:  48.8505683207589
mse 36:  50.61722946166992
mse 37:  50.46784490443356
mse 38:  50.829662137818566
mse 39:  48.876891373816434
mse 40:  49.43493325193337
mse 41:  49.423824446101015
mse 42:  48.41162945151715
mse 43:  48.55203258181081
mse 44:  48.84395620352242
mse 45:  52.58652485227122
mse 46:  48.95981365808777
mse 47:  48.39727395560749
mse 48:  51.70453522814902
mse 49:  49.67854259700837
mse 50:  49.64214174338529
Mean : 54.577521522686155
Standard Deviation : 14.525859399922513

In [20]:
print('mean squared errors: ', mean_squared_errors)

mean squared errors:  [146.83918245  79.69963497  66.97847155  62.96653828  61.48812669
  58.8998865   58.59511093  69.43359606  55.66672318  53.29456125
  52.226679    58.28093209  50.59000025  48.87046805  48.76021413
  48.89734832  50.74771428  49.73261921  52.41838958  48.8911796
  51.14467469  49.39246777  53.17185395  48.87644344  49.82361936
  53.18161414  55.2550478   52.03930971  48.30931096  52.08313034
  49.56491084  48.59485387  48.65457012  50.22947053  48.85057017
  50.6172296   50.46784639  50.82966265  48.87689269  49.4349342
  49.42382557  48.41162982  48.55203433  48.84395813  52.58652597
  48.95981567  48.39727508  51.70453508  49.67854363  49.64214327]

In [22]:
print("Mean : ",mean)
print("Standard Deviation : ", standard_deviation)

Mean :  54.577521522686155
Standard Deviation :  14.525859399922513