<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np


<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

### Normalization of data

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors
print(n_cols)

8

### Split the data into training and testing sets

let's import `train_test_split` from the `sklearn`

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30, random_state=42)

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [12]:
import keras

Using TensorFlow backend.

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that one hidden layer of 10 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [15]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [16]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 0s - loss: 1603.7927 - val_loss: 1150.6177
Epoch 2/100
 - 0s - loss: 1580.7934 - val_loss: 1137.6873
Epoch 3/100
 - 0s - loss: 1557.0257 - val_loss: 1124.1964
Epoch 4/100
 - 0s - loss: 1531.8328 - val_loss: 1110.1509
Epoch 5/100
 - 0s - loss: 1504.9854 - val_loss: 1095.2274
Epoch 6/100
 - 0s - loss: 1477.3671 - val_loss: 1079.4499
Epoch 7/100
 - 0s - loss: 1447.4419 - val_loss: 1063.3305
Epoch 8/100
 - 0s - loss: 1417.0983 - val_loss: 1046.0415
Epoch 9/100
 - 0s - loss: 1384.8569 - val_loss: 1028.4264
Epoch 10/100
 - 0s - loss: 1351.6269 - val_loss: 1009.6252
Epoch 11/100
 - 0s - loss: 1317.1078 - val_loss: 990.6822
Epoch 12/100
 - 0s - loss: 1282.1568 - val_loss: 970.4101
Epoch 13/100
 - 0s - loss: 1245.1436 - val_loss: 950.5448
Epoch 14/100
 - 0s - loss: 1208.2306 - val_loss: 929.5075
Epoch 15/100
 - 0s - loss: 1170.2500 - val_loss: 908.1382
Epoch 16/100
 - 0s - loss: 1131.2546 - val_loss: 886.6438
Epoch 17/100
 - 0s - loss: 1093.0819 - val_loss: 864.1832
Epoch 18/100
 - 0s - loss: 1053.3588 - val_loss: 841.9705
Epoch 19/100
 - 0s - loss: 1014.2630 - val_loss: 819.2446
Epoch 20/100
 - 0s - loss: 974.6535 - val_loss: 797.0716
Epoch 21/100
 - 0s - loss: 935.4603 - val_loss: 773.9010
Epoch 22/100
 - 0s - loss: 896.5688 - val_loss: 750.0156
Epoch 23/100
 - 0s - loss: 857.8000 - val_loss: 726.8001
Epoch 24/100
 - 0s - loss: 820.0898 - val_loss: 703.2741
Epoch 25/100
 - 0s - loss: 782.6104 - val_loss: 680.2701
Epoch 26/100
 - 0s - loss: 746.3645 - val_loss: 657.2385
Epoch 27/100
 - 0s - loss: 711.1611 - val_loss: 634.2785
Epoch 28/100
 - 0s - loss: 676.6358 - val_loss: 612.1552
Epoch 29/100
 - 0s - loss: 644.0855 - val_loss: 590.8219
Epoch 30/100
 - 0s - loss: 612.6008 - val_loss: 569.2621
Epoch 31/100
 - 0s - loss: 581.7256 - val_loss: 548.2595
Epoch 32/100
 - 0s - loss: 553.0955 - val_loss: 528.0244
Epoch 33/100
 - 0s - loss: 525.7254 - val_loss: 509.1218
Epoch 34/100
 - 0s - loss: 500.3285 - val_loss: 490.3123
Epoch 35/100
 - 0s - loss: 476.0758 - val_loss: 472.7078
Epoch 36/100
 - 0s - loss: 453.4941 - val_loss: 455.2088
Epoch 37/100
 - 0s - loss: 432.6117 - val_loss: 438.9770
Epoch 38/100
 - 0s - loss: 412.8512 - val_loss: 423.6338
Epoch 39/100
 - 0s - loss: 394.8567 - val_loss: 408.3767
Epoch 40/100
 - 0s - loss: 377.8077 - val_loss: 394.2555
Epoch 41/100
 - 0s - loss: 362.2619 - val_loss: 381.1705
Epoch 42/100
 - 0s - loss: 348.3215 - val_loss: 368.3126
Epoch 43/100
 - 0s - loss: 335.0443 - val_loss: 356.7407
Epoch 44/100
 - 0s - loss: 323.1919 - val_loss: 345.4598
Epoch 45/100
 - 0s - loss: 312.3369 - val_loss: 335.1165
Epoch 46/100
 - 0s - loss: 302.4414 - val_loss: 326.2592
Epoch 47/100
 - 0s - loss: 293.7641 - val_loss: 316.7488
Epoch 48/100
 - 0s - loss: 285.4258 - val_loss: 308.8278
Epoch 49/100
 - 0s - loss: 277.9887 - val_loss: 301.4239
Epoch 50/100
 - 0s - loss: 271.4796 - val_loss: 293.9826
Epoch 51/100
 - 0s - loss: 265.0463 - val_loss: 287.1892
Epoch 52/100
 - 0s - loss: 259.4069 - val_loss: 281.3499
Epoch 53/100
 - 0s - loss: 254.1274 - val_loss: 275.6602
Epoch 54/100
 - 0s - loss: 249.5017 - val_loss: 269.8633
Epoch 55/100
 - 0s - loss: 244.7489 - val_loss: 265.4169
Epoch 56/100
 - 0s - loss: 240.7710 - val_loss: 260.8124
Epoch 57/100
 - 0s - loss: 236.8439 - val_loss: 256.0415
Epoch 58/100
 - 0s - loss: 233.2110 - val_loss: 251.8566
Epoch 59/100
 - 0s - loss: 229.9432 - val_loss: 248.0749
Epoch 60/100
 - 0s - loss: 226.7613 - val_loss: 244.6542
Epoch 61/100
 - 0s - loss: 223.7093 - val_loss: 241.2783
Epoch 62/100
 - 0s - loss: 220.7914 - val_loss: 237.7754
Epoch 63/100
 - 0s - loss: 218.1217 - val_loss: 235.0569
Epoch 64/100
 - 0s - loss: 215.5142 - val_loss: 232.1362
Epoch 65/100
 - 0s - loss: 213.1424 - val_loss: 229.2173
Epoch 66/100
 - 0s - loss: 210.6772 - val_loss: 226.8763
Epoch 67/100
 - 0s - loss: 208.4392 - val_loss: 224.4645
Epoch 68/100
 - 0s - loss: 206.2543 - val_loss: 221.8725
Epoch 69/100
 - 0s - loss: 204.1889 - val_loss: 219.6116
Epoch 70/100
 - 0s - loss: 202.1851 - val_loss: 217.5156
Epoch 71/100
 - 0s - loss: 200.2587 - val_loss: 214.9119
Epoch 72/100
 - 0s - loss: 198.3726 - val_loss: 213.0505
Epoch 73/100
 - 0s - loss: 196.5393 - val_loss: 211.0282
Epoch 74/100
 - 0s - loss: 194.8526 - val_loss: 208.8976
Epoch 75/100
 - 0s - loss: 193.1604 - val_loss: 206.6579
Epoch 76/100
 - 0s - loss: 191.5873 - val_loss: 205.1086
Epoch 77/100
 - 0s - loss: 189.9579 - val_loss: 203.0299
Epoch 78/100
 - 0s - loss: 188.4043 - val_loss: 201.4557
Epoch 79/100
 - 0s - loss: 186.8722 - val_loss: 199.5135
Epoch 80/100
 - 0s - loss: 185.5148 - val_loss: 198.0939
Epoch 81/100
 - 0s - loss: 184.0772 - val_loss: 196.6680
Epoch 82/100
 - 0s - loss: 182.6216 - val_loss: 194.4358
Epoch 83/100
 - 0s - loss: 181.0844 - val_loss: 193.0173
Epoch 84/100
 - 0s - loss: 179.7424 - val_loss: 191.6124
Epoch 85/100
 - 0s - loss: 178.3336 - val_loss: 190.2986
Epoch 86/100
 - 0s - loss: 177.0967 - val_loss: 188.8788
Epoch 87/100
 - 0s - loss: 175.7455 - val_loss: 187.1836
Epoch 88/100
 - 0s - loss: 174.5653 - val_loss: 185.7728
Epoch 89/100
 - 0s - loss: 173.3906 - val_loss: 184.4170
Epoch 90/100
 - 0s - loss: 171.9992 - val_loss: 183.2866
Epoch 91/100
 - 0s - loss: 170.8188 - val_loss: 181.6930
Epoch 92/100
 - 0s - loss: 169.5688 - val_loss: 180.6572
Epoch 93/100
 - 0s - loss: 168.3760 - val_loss: 179.1871
Epoch 94/100
 - 0s - loss: 167.1597 - val_loss: 177.7299
Epoch 95/100
 - 0s - loss: 166.0144 - val_loss: 176.1465
Epoch 96/100
 - 0s - loss: 164.7818 - val_loss: 174.6016
Epoch 97/100
 - 0s - loss: 163.6034 - val_loss: 173.9045
Epoch 98/100
 - 0s - loss: 162.5358 - val_loss: 172.0473
Epoch 99/100
 - 0s - loss: 161.5125 - val_loss: 170.5215
Epoch 100/100
 - 0s - loss: 160.2727 - val_loss: 169.3581

In [17]:
model.evaluate(X_test,y_test, verbose=1)

309/309 [==============================] - 0s 27us/step

154.23022628833561

   Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

   Let's import the mean_squared_error function from Scikit-learn.

In [18]:
from sklearn.metrics import mean_squared_error

In [19]:
y_pred = model.predict(X_test)

In [20]:
y_pred

array([[53.774673 ],
       [44.948288 ],
       [63.50659  ],
       [44.35504  ],
       [21.074451 ],
       [25.763252 ],
       [14.619875 ],
       [50.983826 ],
       [33.56835  ],
       [34.97419  ],
       [22.500927 ],
       [20.879028 ],
       [73.6152   ],
       [46.578354 ],
       [32.95408  ],
       [42.91245  ],
       [17.562462 ],
       [25.154303 ],
       [16.512577 ],
       [23.903444 ],
       [32.875393 ],
       [32.48267  ],
       [31.934048 ],
       [27.057    ],
       [33.187775 ],
       [37.486187 ],
       [ 9.540255 ],
       [37.174416 ],
       [50.744686 ],
       [18.781693 ],
       [36.5395   ],
       [28.302425 ],
       [44.34806  ],
       [54.398018 ],
       [22.000849 ],
       [35.906906 ],
       [32.05563  ],
       [26.55257  ],
       [19.185535 ],
       [33.26503  ],
       [14.740544 ],
       [16.23128  ],
       [24.362679 ],
       [46.270554 ],
       [15.727529 ],
       [50.874886 ],
       [53.168873 ],
       [60.919014 ],
       [14.826346 ],
       [21.263954 ],
       [33.56181  ],
       [31.412083 ],
       [15.960654 ],
       [31.810287 ],
       [43.927902 ],
       [43.339417 ],
       [32.022717 ],
       [13.502647 ],
       [36.318245 ],
       [15.936499 ],
       [26.286404 ],
       [23.750927 ],
       [25.016722 ],
       [54.312134 ],
       [20.590364 ],
       [30.448029 ],
       [18.653194 ],
       [19.42124  ],
       [14.853712 ],
       [20.99739  ],
       [16.30071  ],
       [16.28923  ],
       [ 8.8340435],
       [22.420038 ],
       [17.508413 ],
       [12.633163 ],
       [53.535564 ],
       [51.732967 ],
       [45.749912 ],
       [20.853115 ],
       [38.06904  ],
       [41.69421  ],
       [27.552574 ],
       [19.967203 ],
       [65.725426 ],
       [44.35504  ],
       [23.342432 ],
       [16.7403   ],
       [27.644592 ],
       [16.832758 ],
       [22.681532 ],
       [61.49352  ],
       [31.27359  ],
       [36.98108  ],
       [23.52837  ],
       [46.70523  ],
       [33.654892 ],
       [19.014816 ],
       [27.175076 ],
       [23.061628 ],
       [28.23861  ],
       [25.638462 ],
       [47.86454  ],
       [26.167416 ],
       [86.38691  ],
       [12.428846 ],
       [41.215706 ],
       [20.265587 ],
       [43.51045  ],
       [51.90103  ],
       [60.85428  ],
       [39.28074  ],
       [34.800674 ],
       [35.301247 ],
       [43.216618 ],
       [54.100853 ],
       [19.081608 ],
       [29.688389 ],
       [48.573853 ],
       [23.646618 ],
       [30.27826  ],
       [16.43692  ],
       [48.14231  ],
       [22.493315 ],
       [23.608839 ],
       [31.86456  ],
       [56.31421  ],
       [49.862846 ],
       [28.58382  ],
       [16.242687 ],
       [13.324303 ],
       [34.643837 ],
       [11.498852 ],
       [54.379944 ],
       [15.472939 ],
       [56.212402 ],
       [16.262945 ],
       [31.630297 ],
       [28.03843  ],
       [31.184925 ],
       [35.165092 ],
       [22.95791  ],
       [31.848845 ],
       [20.073645 ],
       [33.28443  ],
       [23.476503 ],
       [26.638742 ],
       [25.277264 ],
       [18.85824  ],
       [15.388173 ],
       [36.18947  ],
       [30.99109  ],
       [41.039227 ],
       [33.758434 ],
       [42.981712 ],
       [22.435442 ],
       [17.122772 ],
       [75.15543  ],
       [44.948296 ],
       [33.40035  ],
       [17.172256 ],
       [62.685104 ],
       [27.29715  ],
       [47.73783  ],
       [49.325104 ],
       [49.068523 ],
       [41.705345 ],
       [20.520128 ],
       [47.090378 ],
       [40.27479  ],
       [37.466087 ],
       [24.584042 ],
       [23.603132 ],
       [24.302155 ],
       [33.27974  ],
       [18.660519 ],
       [19.280005 ],
       [46.875263 ],
       [33.511806 ],
       [37.150528 ],
       [18.293207 ],
       [21.918678 ],
       [51.722214 ],
       [36.418507 ],
       [46.449043 ],
       [44.540382 ],
       [18.383266 ],
       [37.762375 ],
       [37.605606 ],
       [13.040501 ],
       [40.458694 ],
       [42.399323 ],
       [42.607555 ],
       [41.40929  ],
       [51.730156 ],
       [32.912655 ],
       [49.54031  ],
       [31.333069 ],
       [14.145001 ],
       [22.990372 ],
       [32.65054  ],
       [54.100853 ],
       [17.613104 ],
       [43.947243 ],
       [48.45848  ],
       [26.120495 ],
       [25.612251 ],
       [40.84074  ],
       [34.706024 ],
       [18.533203 ],
       [33.23559  ],
       [35.614708 ],
       [23.61345  ],
       [23.110193 ],
       [25.83271  ],
       [14.898502 ],
       [28.218084 ],
       [24.495718 ],
       [19.568995 ],
       [48.346127 ],
       [34.28526  ],
       [37.046997 ],
       [45.53507  ],
       [15.078234 ],
       [37.059845 ],
       [33.01964  ],
       [22.969559 ],
       [10.26424  ],
       [33.966663 ],
       [21.077185 ],
       [14.191238 ],
       [27.22298  ],
       [28.29652  ],
       [28.631042 ],
       [34.653164 ],
       [34.008453 ],
       [41.156464 ],
       [36.546898 ],
       [37.17405  ],
       [26.539358 ],
       [34.869926 ],
       [36.692833 ],
       [71.767815 ],
       [ 9.57468  ],
       [67.5947   ],
       [18.057833 ],
       [57.539574 ],
       [15.642396 ],
       [44.989017 ],
       [57.489502 ],
       [18.133709 ],
       [45.329    ],
       [28.162395 ],
       [33.504932 ],
       [44.22122  ],
       [29.29557  ],
       [24.563122 ],
       [41.70933  ],
       [30.182413 ],
       [16.803381 ],
       [20.547865 ],
       [37.441345 ],
       [21.049183 ],
       [17.30489  ],
       [13.960627 ],
       [42.12361  ],
       [48.838554 ],
       [51.004105 ],
       [51.498795 ],
       [64.07243  ],
       [30.808292 ],
       [22.559237 ],
       [42.722523 ],
       [20.52236  ],
       [22.020649 ],
       [49.325104 ],
       [46.08366  ],
       [34.726128 ],
       [47.14247  ],
       [17.184519 ],
       [24.90483  ],
       [40.169853 ],
       [15.815365 ],
       [30.82247  ],
       [13.250507 ],
       [26.082724 ],
       [29.935219 ],
       [16.941776 ],
       [43.059216 ],
       [60.081116 ],
       [35.747482 ],
       [17.635902 ],
       [28.26254  ],
       [24.367996 ],
       [22.404045 ],
       [35.06155  ],
       [18.814156 ],
       [38.521515 ],
       [26.56176  ],
       [25.449226 ],
       [30.738401 ],
       [17.234417 ],
       [52.923256 ],
       [61.59076  ],
       [15.055753 ],
       [21.900074 ],
       [31.681166 ],
       [38.21334  ],
       [38.848305 ]], dtype=float32)

In [21]:
mse = mean_squared_error(y_test, y_pred)
print('mse: ', mse)

mse:  154.23022948236525

Let's create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [22]:
n = 50
epochs = 100
mean_squared_errors = []
for i in range(0, n):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30, random_state=42)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    mse = model.evaluate(X_test, y_test, verbose=0)
    print("mse " +str(i+1)+": ", mse)
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)
    
mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)   

print("Mean : ", mean)
print("Standard Deviation : ", standard_deviation)

mse 1:  96.0993934557276
mse 2:  79.56151080825954
mse 3:  74.07896404821896
mse 4:  71.91631670214211
mse 5:  70.28211563999213
mse 6:  70.17010316570986
mse 7:  69.81546240254127
mse 8:  69.58942292346151
mse 9:  69.40679392151077
mse 10:  69.90222286483616
mse 11:  69.22785313924153
mse 12:  69.29306682105204
mse 13:  69.50471144741022
mse 14:  69.4231158753429
mse 15:  69.42239610739897
mse 16:  69.34406570632095
mse 17:  69.05443929777176
mse 18:  69.22501417734091
mse 19:  69.48181279500325
mse 20:  69.16611189363844
mse 21:  69.12804343708125
mse 22:  68.99314477914359
mse 23:  69.13348335587091
mse 24:  69.14918734109132
mse 25:  69.09194231496274
mse 26:  68.98234958093143
mse 27:  69.27858135383877
mse 28:  69.07535241876991
mse 29:  69.27334270045209
mse 30:  69.02938621792593
mse 31:  69.34685383028197
mse 32:  69.16655685523567
mse 33:  69.43408119176969
mse 34:  69.05792305461797
mse 35:  69.11284363385543
mse 36:  68.914045796811
mse 37:  69.13508775087622
mse 38:  68.89255313811564
mse 39:  69.10776316077964
mse 40:  69.16763897003865
mse 41:  69.32058244229906
mse 42:  68.92941297759516
mse 43:  68.97798755485263
mse 44:  69.24023842425794
mse 45:  69.17798349078033
mse 46:  69.31095502291683
mse 47:  69.08296436939425
mse 48:  68.99525270184267
mse 49:  69.11776053172485
mse 50:  68.97494994475232
Mean :  70.15126341649227
Standard Deviation :  4.052429191995384

In [23]:
print('Below are the mean and standard deviation of 50 mean squared errors of normalized data for 100 epochs')
print("Mean : ", mean)
print("Standard Deviation : ", standard_deviation)

Below are the mean and standard deviation of 50 mean squared errors of normalized data for 100 epochs
Mean :  70.15126341649227
Standard Deviation :  4.052429191995384

In [24]:
print('mean squared errors: ', mean_squared_errors)

mean squared errors:  [96.09939568 79.56151237 74.07896564 71.91631827 70.28211789 70.17010454
 69.81546261 69.58942346 69.40679577 69.90222365 69.22785449 69.29306562
 69.50471092 69.4231171  69.42239676 69.34406566 69.05443898 69.22501508
 69.48181303 69.16611277 69.12804231 68.99314616 69.13348549 69.14918872
 69.09194264 68.98234879 69.27858193 69.07535222 69.27334222 69.02938645
 69.34685332 69.16655692 69.43408289 69.05792364 69.11284311 68.91404738
 69.13508795 68.89255225 69.10776252 69.16763935 69.32058191 68.929416
 68.97798714 69.24023851 69.17798452 69.31095476 69.08296686 68.99525295
 69.1177615  68.97495013]

The `mean` with predictors_norm data of 50 mean squared errors in part B for 100 epochs is 70 while it was 51 in part B  for 50 epochs.